<ng-container>
    <div id="status" *ngIf="undefined !== player">
        <form #form="ngForm" (ngSubmit)="changeName(form.value)">
            <input name="name" type="text" id="name" autocorrect="off" spellcheck="false" [(ngModel)]="player.name" />
            <button type="submit">Set</button>
        </form>
        <h1>Score: <span>{{player.points}}</span></h1>
        <button id="gameStarter" (click)="startGame()" [class.hidden]='gameStarted'>Start Game</button>
    </div>
    <div id="hand" *ngIf="player !== undefined" [class.hidden]='!gameStarted'>
        <div *ngFor="let card of player.cards"
            (click)="playCard(card)"
            class="card"
            [class.black]="card.color === 'black'"
            [class.white]="card.color === 'white'">
            {{card.text}}
        </div>
    </div>
</ng-container>
